
/**
 * Mobile Header
 */

.site-header--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0em;
  overflow: hidden;
  z-index: 500;

  @supports ( display: flex ) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @include breakpoint($bp-med) {
    display: none;

    @supports ( display: flex ) {
      display: none;
    }
  }

  .admin-bar & {
    top: 2.875em;
  }
}

.mobile-header-left {
  float: left;

  @supports ( display: flex ) {
    flex: 1 0 auto;
  }
}

.mobile-header-right {
  float: right;
}

.menu-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  padding: 1.5em;
  color: #454149;
  line-height: 1;
  background-color: #d7d7d7;
  transition: background-color 500ms;

  &:hover,
  &:focus {
  }

  svg {
    display: block;
    width: 1.375em;
    height: 1.1875em;
  }
}

.close-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  color: $link-color;
  position: absolute;
  color: $color-black;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2.5em;
  font-size: 10px;
  border-left: 2px solid #d8d8d8;
  &:hover,
  &:focus {
  }

  svg {
    display: block;
    width: 2.0625em;
    height: 2.0625em;
  }
}
