
/**
 * Sidebar
 */

.sidebar {
  margin-top: 3em;

  @include breakpoint($bp-med) {
    margin-top: 0;
  }
}

// Advanced Template Sidebar
.advanced-sidebar {
  padding: 2em 0;

  @include breakpoint($bp-med) {
    @include visuallyhidden;
  }

  .sidebar {
    margin: 0;
  }
}
