
/**
 * Site Header
 */

.site-header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $header-bkg;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;
  border-bottom: 1px solid #D8D8D8;

  @include breakpoint($bp-med) {
    display: block;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    z-index: 100;
  }

  .admin-bar & {
    top: 2em;
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: rgba( $header-bkg, 0.95 );
      box-shadow: $box-shadow;

      // // Add fancy background blur effect
      // (currently has performance issues in Chrome)
      //
      // @supports ( backdrop-filter: blur(10px) ) or
      //           ( -webkit-backdrop-filter: blur(10px) ) {
      //   background-color: rgba( #fff, 0.75 );
      //   backdrop-filter: blur(10px);
      // }
    }
  }

  .wrap {
    position: relative;
  }
}


/**
 * Site Logo
 */

.site-branding {
  transition: transform 500ms;
  transform-origin: center left;

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: 0.75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    @include breakpoint($bp-med){
      width: 45px;
    }
    @include breakpoint($bp-xl){
      width: auto;
      width: 45px;
    }
    @include breakpoint($bp-mega){
      width: auto;
    }
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
}


/**
 * Site Navigation (optional)
 * ---
 * Group and position navs
 */

.site-navigation {
  transition: padding-top 500ms;
  border-right: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;

  .minify-header & {
    padding-top: 0.75em;
  }
}
