
/**
 * Site Footer
 */

.site-footer {
  background-color: $footer-bkg;

  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
    margin-left: 0.5em;
    @include breakpoint($bp-update-med){
      margin-left: 0;
    }
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  margin-top: 5em;
  padding: 3em 0;
  @include breakpoint($bp-med){
    padding: 5em 0;
  }
  span{
      font-size: 15px;
      color: #A49FAB;
      font-family: $font-base;
  }
  .l-footer{
    text-align: center;
    @include breakpoint($bp-update-med){
      text-align: left;
    }
    .l-footer-item{
      .site-branding{
        margin-right: -0.5em;
        margin-top: 3.8em;
        &:first-child{
          margin-top: 0.5em;
        }
        @include breakpoint($bp-med){
          margin-left: 0;
        }
      }
      @include breakpoint($bp-update-med){
        margin-top: 0;
      }
    }
  }
}

.site-info {
  padding: 2em 0;
  background-color: $color-black;
  small{
    color: #A49FAB;
    font-size: 12px;
  }
  .l-footer{
    .l-footer-item--pull-left{
      &:last-child{
        margin-top: 1em;
        margin-right: 0;
        @include breakpoint($bp-med){
          margin-top: 0;
        }
        @include breakpoint($bp-large){
          margin-right: 27em;
        }
      }
    }
  }
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.5em;
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;

  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}





.rectangle{
  margin-left: -1em;
  position: relative;
  padding: 1em 1.8em;
  margin-bottom: 1em;
  left: -16px;
  width: 86px;
  margin: auto;
  margin-bottom: 0.5em;
  @include breakpoint($bp-update-med){
    padding: 1em 0px;
    margin-left: 1.3em;
    margin-bottom: 1em;
  }
  &:after{
    content: "";
    position: absolute;
    top: 8px;
    width: 115px;
    height: 45px;
    border: 4px solid #d7d4da;
    -webkit-box-shadow: 10px 10px #d7d4da;
    box-shadow: 10px 10px #d7d4da;
    padding: .5em;
    bottom: 0;
    left: 1px;
    @include breakpoint($bp-update-med){
      left: -21px;
    }
  }
  &:before{
    content: url(../svg/icons/triangle.svg);
    height: 20px;
    position: absolute;
    transform: rotate(210deg);
    width: 100px;
    left: 0.5em;
    top: -2.2em;
    @include breakpoint($bp-update-med){
      left: -3em;
      top: 1em;
      transform: none;
      width: 20px;
    }
    @include breakpoint($bp-large){
      left: -100em;
      left: -3em;
    }
    @include breakpoint($bp-xl){
      left: -5em;
    }
  }
}

.primary-footer{
  .l-footer-item{
    &:nth-last-child(-n+2){
      display: none;
      @include breakpoint($bp-update-med){
        display: block;
      }
    }
  }
}
p.address-title.h5 {
    margin-top: -1px;
    line-height: 24px;
    letter-spacing: 0px;
}

.paper-section{
  &:last-child{
    padding-bottom: 0 !important;
  }
}

.first{
  &:first-child{
    padding-bottom: 0 !important;
  }
}

.primary-footer{
  .site-branding img, .site-branding svg{
    width: auto !important;
    @include breakpoint($bp-update-med){
      width: auto !important;
    }
  }
}
