.bio-section{
  &:last-child{
    border-top: 1px solid $color-black;
  }
  .heading{
    text-align: center;
    position: relative;
    margin-bottom: 3em;
    @include breakpoint($bp-med){
      margin-bottom: 7em;
    }
    &:before{
      content: "";
      background-image: url(../svg/icons/banner-slashes.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 1em;
      bottom: 0;
      height: 35px;
      @include breakpoint($bp-med){
        top: 1.2em;
        height: 50px;
      }
      @include breakpoint($bp-large){
        top: 2.4em;
      }
    }
    h2{
      display: inline-block;
      position: relative;
      background: white;
      padding: 0.3em 0.5em;
      min-width: 300px;
      border: 4px solid $color-black;
      color: $color-black;
      box-shadow: 12px 12px rgba(0,0,0,.17);
      @include font-size(40);
      @include breakpoint($bp-small){
      }
      @include breakpoint($bp-med){
        @include font-size(50);
      }
      @include breakpoint($bp-large){
        @include font-size(54);
      }
      @include breakpoint($bp-xl){
        @include font-size(60);
      }
      @include breakpoint($bp-mega){
        @include font-size(64);
      }
    }
  }
  h3{
    font-size: 2em;
    @include breakpoint($bp-mega){
      font-size: 3em;
    }
  }
  .content-row{
    position: relative;
    padding-left: 6em;
    padding-top: 1.8em;
    .box-container{
      position: absolute;
      left: 0;
      z-index: 999999;
      .box{
        @include font-size(18);
        font-family: $font-heading;
        height: 45px;
        width: 45px;
        position: relative;
        border: 3px solid $color-black;
        box-shadow: 5px 5px #d7d4da;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-black;
        @include breakpoint($bp-med){
          box-shadow: 7px 7px #d7d4da;
        }
        &:before{
          content: url(../svg/icons/down-icon-small.svg);
          width: 20px;
          height: 20px;
          position: absolute;
          transform: rotate(-90deg);
          overflow: hidden;
          top: -0.2em;
          left: 2.5em;
          @include breakpoint($bp-xl){
            content: url(../svg/icons/down-icon.svg);
            top: 0.1em;
            left: 3.3em;
          }
        }
      }
    }
    .date{
      @include font-size(18);
      font-family: $font-heading;
      font-weight: 400;
    }
  }
}


.bio-copy{
  margin-top: 0.3em;
  p{
    margin-bottom: 0em;
    @include breakpoint($bp-med){
      margin-bottom: 1em;
    }
  }
  @include breakpoint($bp-large){
    line-height: 1;
  }
}


.teal{
  color: $color-teal;
}
.purple{
  color: $color-purple;
}
.yellow{
  color: $color-yellow;
}
.blue{
  color: #4a90e2;
}

.teal-bg{
  background-color: #33cfc1 !important;
}
.purple-bg{
  background-color: #bf92fb !important;
}
.yellow-bg{
  background-color: #ffb12f !important;
}
.blue-bg{
  background-color: #73c8ff !important;
}
.red-bg{
  background-color: #f5708f !important;
}

.bio-section{
  h3.horizontal-line {
    border-top: 2px solid #D7D4DA;
    margin-top: 1em;
    padding-top: 1em;
  }
}
.extra-box{
  margin-top: 2em;
}
