
.page-template-template-home {
  .intro-section{
  border-top: 2px solid #d8d8d8;
  @include breakpoint($bp-large){
    border-top: 4px solid #d8d8d8;
  }
  @include breakpoint($bp-xl){
  }
  @include breakpoint($bp-mega){
  }
  .intro-header{
    text-align: center;
    h2{
      @include font-size(35);
      position: relative;
      margin-bottom: 1.6em;
      color: $color-dark-purple;
      @include breakpoint($bp-med){
        @include font-size(48);
      }
      &:after{
        content: "";
        width: 200px;
        height: 68px;
        border: 3px solid $color-dark-purple;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 20px 17px #d7d4da;
        padding: 0.1em 3em;
        @include breakpoint($bp-med){
          height: 80px;
        }
        @include breakpoint($bp-large){
          height: 90px;
          padding: 0.7em 3.6em;
        }
      }
    }
  }
  .intro-content{
    @supports ( display: flex ) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .intro-content-body{
     width: 150px;
     margin: 0 2em;
     }
    }
  }
}


.highlight-section{
  border-top: 2px solid #d8d8d8;
  .wrap{
    padding: 0 2.5em;
    @include breakpoint($bp-small){
      padding: 0 1.5em;
    }
    .highlight-heading.section{
      text-align: center;
      padding-top: 0 !important;
      padding-right: 0em;
      padding-bottom: 1.5em;
      @include breakpoint($bp-large){
        padding-bottom: 5em;
      }
      @include breakpoint($bp-xl){
      }
      @include breakpoint($bp-mega){
      }
      h2{
        @include font-size(48);
      }
    }
    .box{
      @include breakpoint($bp-med){
        @supports ( display: flex  ){
          display: flex;
        }
      }
      .box-container{
        padding: 2.5em;
        position: relative;
        padding-left: 5em;
        background: white;
        transition: box-shadow 0.5s ease;
        box-shadow: 13px 13px #d7d4da;
        .number{
          position: absolute;
          height: 40px;
          width: 43px;
          top: 0;
          left: 0;
          @supports ( display: flex  ){
            display: flex;
            align-items: center;
            justify-content: center;
          }
          font-family: $font-heading;
          font-weight: 400;
          z-index: 10;
          font-size: 18px;
          color: $color-black;
          border-bottom: 4px solid $color-black;
          border-right: 4px solid $color-black;
          &:nth-child(2){
            background:green;
          }
          &:nth-child(3){
            background:blue;
          }
        }
        .line{
          position: absolute;
          left: 0;
          bottom: 0;
          border-right: 4px solid black;
          height: 100%;
          width: 43px;
        }
        @supports ( display: flex ){
          display: flex;
          align-items: center;
          justify-content: center;
          border: 4px solid $color-black;
          height: 300px;
          @include breakpoint($bp-small){
            height: auto;
          }
          @include breakpoint($bp-med){
            width: 180px;
            height: 170px;
            padding: 2.5em 1.5em 2.5em 4.1em;
          }
        }
        @include breakpoint($bp-xl){
          width: 250px;
          height: auto;
          padding: 2.5em 2.5em 2.5em 4.5em;
        }
        @include breakpoint($bp-mega){
           width: auto;
           height: auto;
        }
        .graphic{
          position: relative;
          width: inherit;
          height: inherit;
          overflow: hidden;
          width: 150px;
          height: 150px;
          img{
            @include block-fit-cover(0em);
          }
        }
      }
    }
    .box-content{
      padding-top: 1.5em;
      @include breakpoint($bp-med){
        padding-left: 2em;
        padding-top: 0;
      }
      @include breakpoint($bp-xl){
        padding-left: 4em;
      }
      h5{
        margin-top: 0;
        font-family: $font-heading;
        font-weight: 400;
        color: $color-black;
        margin-bottom: 1em;
      }
      a{
        text-decoration: none;
      }
    }
  }
}

.highlight-section{
  transition: box-shadow 0.5s ease;
  .box{
      transition: box-shadow 0.5s ease;
      &:hover{
        &:nth-child(1){
          transition: box-shadow 0.5s ease;
        .box-container{
          transition: box-shadow 0.5s ease;
          box-shadow: 13px 13px $color-teal;
        }
      }
    }
  }
 }

.highlight-section{
  .l-grid-item{
    &:nth-child(1){
      transition: box-shadow 0.5s ease;
      .box{
        transition: box-shadow 0.5s ease;
        &:hover{
          .box-container{
            transition: box-shadow 0.5s ease;
            box-shadow: 13px 13px $color-teal;
          }
        }
      }
    }
    &:nth-child(2){
      .box{
        transition: box-shadow 0.5s ease;
        &:hover{
         .box-container{
           transition: box-shadow 0.5s ease;
           box-shadow: 13px 13px $color-yellow;
         }
        }
      }
    }
    &:nth-child(3){
      .box{
        transition: box-shadow 0.5s ease;
        &:hover{
          .box-container{
            transition: box-shadow 0.5s ease;
            box-shadow: 13px 13px $color-purple;
          }
        }
      }
    }
    &:nth-child(4){
      .box{
        transition: box-shadow 0.5s ease;
        &:hover{
          .box-container{
            transition: box-shadow 0.5s ease;
            box-shadow: 13px 13px #73c8ff;
          }
        }
      }
    }
  }
}



//


img {
	max-width: 100%;
	display: block;
}
.gallery-wrap {
	max-width: 800px;
}
.expandedImg {
	// display: none;
	position: relative;
	img {
		width: 100%;
		max-width: inherit;
	}
	.imgText {
		position: absolute;
		color: #fff;
		background-color: rgba(#000, .8);
		bottom: 0;
		left: 0;
		padding: 10px;
	}
}
.gallery-list {
	.list-item {
		width: 25%;
		float: left;
		cursor: pointer;
	}
}


// Tab Gallery


.news-slide-section{
  > .wrap{
    @include breakpoint($bp-xl){

    }
  }
}
.news-slide-section{
   border-top: 2px solid #d8d8d8;
  .header{
    margin-bottom: 3.5em;
    @include breakpoint($bp-med){
    }
    @include breakpoint($bp-large){
      margin-bottom: 4.5em;
    }
    h2{
      @include font-size(48);
      text-align: center;
    }
    p{
      margin-bottom: 4em;
      font-size: 18px;
    }
  }
  .tns-controls {
    top: -5em;
    width: 56%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 250px;
    /* background: red; */
    height: 40px;
  }
  // .tns-outer{
  //   &:after{
  //     @include breakpoint($bp-xl){
  //       background-image: url('../img/src/branding/fade-2.png');
  //       right: -15px;
  //       content: "";
  //       width: 500px;
  //       height: 400px;
  //       position: absolute;
  //       right: -302px;
  //       z-index: 4;
  //       top: -9em;
  //     }
  //     @include breakpoint($bp-mega-med){
  //       background-image: url('../img/src/branding/fade-2.png');
  //       right: -15px;
  //       content: "";
  //       width: 500px;
  //       height: 400px;
  //       position: absolute;
  //       right: -350px;
  //       z-index: 4;
  //       top: -9em;
  //     }
  //     @include breakpoint($bp-mega-mega){
  //       background-image: url('../img/src/branding/fade-2.png');
  //       right: -305px;
  //     }
  //   }
  // }
}

.fade-graphic{
  position: relative;
  &:after{
    @include breakpoint($bp-xl){
      content: url(../img/src/branding/fade-2.png);
      width: 96px;
      height: 400px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}


// Tab Gallery
.tns-outer{
  @include breakpoint($bp-xl){
    // width: calc(100% - (50% - 37.5em));
    // float: right;
  }
}

.tns-slider>.tns-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 2em;
}

.news-slide.tns-item{
  a{
    text-decoration: none;
  }
  .box{
    border: 4px solid $color-dark-purple;
    min-height: 220px;
    position: relative;
    width: 95%;
    margin: auto;
    transition: box-shadow 0.5s ease;
    box-shadow: 13px 13px #d7d4da;
    &:hover{
      transition: box-shadow 0.5s ease;
      box-shadow: 13px 13px $color-yellow;
    }
    @supports ( display: flex ){
      display: flex;
    }
    @include breakpoint($bp-large){
      width: 79%;
    }
    @include breakpoint($bp-xl){
      width: 97%;
      margin: inherit;
    }
    @include breakpoint($bp-mega-med){
      margin: inherit;
    }
    &:after{
      content: "";
      width: 146px;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-right: 4px solid $color-dark-purple;
    }
    .box-body{
      padding: 0.5em 1em;
      h6{
        @include font-size(12);
        color: $color-grey--med;
        padding-top: 1em;
        font-family: $font-base;
        text-transform: capitalize;
        margin-bottom: 1em;
        font-weight: 700;
        a{
          text-decoration: none;
        }
      }
      h3{
        @include font-size(18);
        margin-bottom: 0.3em;
        font-weight: 400;
        color: $color-black;
        a{
          text-decoration: none;
        }
      }
      p{
        @include font-size(14);
      }
      .text-button{

      }
    }
    .box-thumb{
      float: left;
      position: relative;
      border-right: 4px solid $color-dark-purple;
      overflow: hidden;
      width: 146px;
      height: 145px;
      border-bottom: 4px solid $color-dark-purple;
      img{
        @include block-fit-cover(0);
      }
    }
  }
}


.thumbnails{
  img{
    width: 200px;
    height: 200px;
    border: 4px solid red;
  }
}
.tns-nav{
  display: none !important;
}

.page-id-7{
  .banner{
    background-color: #33CFC1;
  }
}
.page-id-9{
  .banner{
    background-color: #FFB12F;
  }
}
.page-id-11{
  .banner{
    background-color: #bf92fb;
  }
}





.recent-talks{
  border-top: 2px solid #d8d8d8;
  .wrap{
   @include breakpoint($bp-large){

   }
  }


  .tab-link{
    position: relative;
    img{

    }
  }

  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 2em;
    @include breakpoint($bp-large){


    }
  }



  ul.tabs li{
    &:last-child{

    }
    @include breakpoint($bp-small){

   }
    @include breakpoint($bp-large){
    margin-right: 0;
   }
  }
  ul.tabs li img {
    border: 4px solid $color-black;
  }

  ul.tabs li.current{
    img{
      @include breakpoint($bp-med){
        border: 4px solid $color-teal;
      }
    }
    color: #fff;
    position: relative;
    &:after{
    @include breakpoint($bp-xl){
      position: absolute;
      content: url(../svg/icons/down-icon.svg);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      overflow: hidden;
      right: -37px;
      top: 38%;
      transform: rotate(30deg);
    }
    }
  }

  .tab-content{
    @include font-size(14);
    display: none;
    color: $color-black;
  }

  .tab-content.current{
    display: inherit;
  }

  .talk-info{
    h5{
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 0;
      font-family: $font-heading;
      font-weight: 400;
    }
  }

}

.tab-heading{
  margin-bottom: 0.7em;
  text-align: center;
  @include breakpoint($bp-med){
    margin-bottom: 0;
  }
  @include breakpoint($bp-large){
    padding: 0 10em;
  }
  @include breakpoint($bp-xl){
    padding: 0 15em;
    text-align: center;
    margin: auto;
    margin-bottom: 3em;
  }
  @include breakpoint($bp-mega){
    padding: 0 20em;
  }
  h2{
    @include font-size(48);
  }
  p{
    font-size: 18px;
  }
}

.tab-description{
  padding-top: 2em;
  @include breakpoint($bp-large){
    height: 406px;
    overflow: hidden;
    overflow-y: scroll;
    @include breakpoint($bp-xl){

    }
    @include breakpoint($bp-mega){

    }
  }
  h5{
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0.7em;
  }
}




.mfp-content{
  background: white;
  height: auto;
  max-width: 900px;
  padding: 2em;
}
svg.menu-icon-svg{
  width: 15px;
  color: black;
  margin-top: 0.2em;
  margin-right: 0.2em;
  position: relative;
  z-index: -5;
}


.news-slide {
  @supports (display: flex){
    display: flex;
    flex-direction: column;
  }
  .box-thumb{
    order: 1;
  }
  .box-box{
    order: 2;
    height: 74px;
    position: absolute;
    bottom: -0.1em;
  }
}

.l-grid-item{
  &:nth-child(1){
    .number{
      background: $color-teal;

    }
  }
  &:nth-child(2){
    .number{
      background: $color-yellow;

    }
  }
  &:nth-child(3){
    .number{
      background: $color-light-purple;

    }
  }
  &:nth-child(4){
    .number{
      background: #73C8FF;

    }
  }
}


.highlight-section{
    .l-grid-item:nth-child(3) {
      @include breakpoint($bp-med){
        margin-top: 2em;
      }
  }
    .l-grid-item:nth-child(4) {
      @include breakpoint($bp-med){
        margin-top: 2em;
      }
  }
}

.tab-venue{
  padding-bottom: 1em;
  h5{
    position: relative;
    padding-left: 1.7em;
    &:after{
      content: url(../svg/icons/venu_icon.svg);
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.tab-abstract{
  h5{
    position: relative;
    padding-left: 2.1em;
    &:after{
      content: url(../svg/icons/abstract-icon.svg);
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}


.box{
  transition: margin-left 0.5s ease;
  &:hover{
    .box-content{
      transition: margin-left 0.5s ease;
      a{
        transition: margin-left 0.5s ease;
        &:after{
          transition: margin-left 0.5s ease;
          margin-left: 15px;
        }
      }
    }
  }
}

a.text-button.open-post{
  color: #4a90e2;
  &:after{
    content: url(../svg/icons/blue-arrow.svg);
  }
}

.prev-left{
  border: 4px solid $color-black;
  color: black;
  background-color: white;
  box-shadow: 6px 6px #d7d4da;
  height: 46px;
  width: 46px;
    transition: box-shadow 0.5s ease;
  &:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 6px 6px $color-yellow;
  }
  @supports(display: flex){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.next-right{
  border: 4px solid $color-black;
  color: black;
  background-color: white;
  box-shadow: 6px 6px #d7d4da;
  height: 46px;
  width: 46px;
  display: block;
  transition: box-shadow 0.5s ease;
  &:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 6px 6px $color-yellow;
  }
  @supports(display: flex){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider-controls-box{
  margin: auto;
  width: 200px;
  @supports(display: flex){
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

ul.tabs li:last-child {
    /* border: 2px solid red; */
    margin-bottom: 4px;
}




.recent-talks{
  .wrap{
    @include breakpoint($bp-med){
      display: flex;
      flex-direction: column;
    }
    @include breakpoint($bp-xl){
      display: flex;
      flex-direction: row;
    }
    ul.tabs{
      display: flex;
      justify-content: space-between;
      @include breakpoint($bp-med){
        order: 1;
        justify-content: center;
        margin-top: 1.5em;
      }
      @include breakpoint($bp-large){
        justify-content: flex-start;
      }
      @include breakpoint($bp-xl){
        order: 1;
        margin-top: 0;
        height: 411px;
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 3em;
        justify-content: space-between;
      }
      li{
        margin-right: 0.5em;
        &:last-child{
        margin-right: 0 !important;
        @include breakpoint($bp-xl){
          margin-right: 0.5em !important;
          }
        }
        img{
          @include breakpoint($bp-xl){
            max-width: none;
          }
        }
      }
    }
  }

  .tab-full-image{
    img{
      position: relative;
      border: 4px solid $color-black;
      margin: auto;
      @include breakpoint($bp-large){
        margin: 0;
      }
    }
  }
  .video-button{
    position: relative;
    display: flex;
    @include breakpoint($bp-med){
      display: block;
    }
      &:after{
      @include breakpoint($bp-med){
          content: "";
          background-image: url(../svg/icons/talk-play-button.svg);
          width: 675px;
          background-repeat: no-repeat;
          height: 405px;
          position: absolute;
          z-index: 999999999;
          top: 0;
          bottom: 0;
          background-position: center;
      }
    }
  }
  .tabbed-content-box{
    @include breakpoint($bp-med){
      order: 1;
    }
    @include breakpoint($bp-large){
      display: flex;
      .tab-full-image{
        flex: 2;
        margin-right: 2em;
        img{
          max-width: none;
        }
      }
      .tab-description{
        flex: 1;
        @include breakpoint($bp-xl){
          padding-top: 0;
          height: 405px;
        }
      }
    }
    @include breakpoint($bp-xl){
      order: 2;
    }
  }
}

.video-button{
  svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include breakpoint($bp-med){
      display: none;
    }
  }
}
.highlight-section .wrap .box-content a, .news-slide.tns-item .box .box-body h3 a, .news-slide.tns-item .box .box-body h6 a, .news-slide.tns-item a {
    text-decoration: none;
    z-index: 10;
}
.news-slide .box-box {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 74px;
    position: absolute;
    bottom: -.1em;
    z-index: -99999999999;
}
.trickery-link{
    width: 200% !important;
}


button.accordion:focus {
    outline: none !important;
}


.page-id-11, .page-id-13, .page-id-7, .page-id-5{
  .primary-footer{
    margin-top: 0 !important;
  }
}

.page-id-9{
  .primary-footer{
    margin-top: 4.5em;
  }
}


.supersede-box{
  a{
    span{
      margin-left: 0 !important;
    }
  }
}
