.staff-section + .staff-section{

}

.staff-section{
    border-bottom: 2px solid #d8d8d8;
    &:last-child{
      border-bottom: none;
    }
  h2{
    font-size: 2em;
    color: $color-dark-purple;
    @include breakpoint($bp-mega){
      font-size: 3em;
    }
  }
  .staff-box{
    &:hover{
      .box-border{
        .staff-image{
          position: relative;
          img{
            transition: box-shadow 0.5s ease, border 0.5s ease;
            box-shadow: 13px 13px $color-yellow;
            border: 4px solid #4a90e2;
          }
        }
      }
    }
    .box-border{
      border: 4px solid $color-black;
      position: relative;
      svg{
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      &:hover{
        transition: opacity 0.5s ease;
        svg{
          position: absolute;
          opacity: 1;
          transition: opacity 0.5s ease;
        }
      }
      a{
        padding: 3em;
      }
      @supports ( display: flex ){
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .staff-image{
      position: relative;
      img{
      transition: box-shadow 0.5s ease, border 0.5s ease;
      box-shadow: 13px 13px $color-grey--med;
      }
      &:hover{
        box-shadow: 0px 0px #d7d4da;
      }
       img{
        transition: box-shadow 0.5s ease, border 0.5s ease;
         border: 4px solid $color-black;
       }
    }
  }
}


.staff-section{
  header{
    text-align: center;
    h2{
      margin-bottom: 1em;
    }
    @include breakpoint($bp-xl){
      text-align: left;
      h2{
        margin-bottom: 0.5em;
      }
    }
  }
  .l-grid{
    justify-content: center;
    @include breakpoint($bp-xl){
      justify-content: flex-start;
    }
    .l-grid-item{
      width: auto;
      @include breakpoint($bp-xl){
        width: 25%;
      }
    }
  }
}
.staff-padding{
  padding: 3em;
}


.page-template-template-people{
  .people-card-grid{
    @supports(display: flex){
      display: flex;
      flex-flow: row wrap;
      margin:0 0 0 -3rem;
      justify-content: center;
      @include breakpoint($bp-large){
        justify-content: flex-start;
      }
    }
    .people-card{
      margin:0 0 3rem 3rem;
      border: 4px solid $color-black;
      transition: box-shadow 0.5s ease;
      box-shadow: 13px 13px #d7d7d7;
      flex: 0 0 calc(90%/1);
      @include breakpoint($bp-large){
        flex: 0 0 calc(90%/2);
      }
      @include breakpoint($bp-xl){
         flex: 0 0 calc(calc(90%/3) - 15px);
      }
      &:hover{
        h3{
        text-decoration: none;
        }
      }
      @supports(display: flex){
        display: flex;
        @include breakpoint($bp-large){
          height: 223px;
        }
      }
    }
    .box-left{
      border-right: 4px solid $color-black;
      width: 100px;
      @include breakpoint($bp-large){
        width: auto;
      }
      .thumbnail-container{
        position: relative;
        overflow: hidden;
        height: auto;
        @include breakpoint($bp-large){
          height: auto;
          height: 140px;
        }
        img{
          @include block-fit-cover(0);
          position: static;
          width: 100px;
          @include breakpoint($bp-large){
            position: static;
            position: absolute;
            width: auto;
          }
        }
      }
    }
    .slashes-container{
      border-top: 4px solid $color-black;
      overflow: hidden;
        height: 70px;
        @include breakpoint($bp-xsmall){
          height: 85px;
        }
        @include breakpoint($bp-small){
          height: 90px;
        }
      @include breakpoint($bp-large){
        height: auto;
      }
      svg{
      margin-top: -0.2em;
      }
    }
    .box-right{
      padding: 1em;
      @include breakpoint($bp-large){
        padding-bottom: 0;
      }
      .body{
        line-height: 1.5;
        h3{
          font-size: 18px;
        }
        p{
          font-size: 15px;
          margin-bottom: 0.6em;
        }
      }
    }
  }
}

.desktop-slashes{
  display: none;
  @include breakpoint($bp-large){
    display: block;
  }
}
.mobile-slashes{
  display: block;
  @include breakpoint($bp-large){
    display: none;
  }
}

.people-card{
  &:hover{
    a h3{
      text-decoration: underline !important;
    }
  }
}





  .people-card-grid{
  @supports(display: flex){
    display: flex;
    flex-flow: row wrap;
    margin:0 0 0 -3rem;
    justify-content: center;
    @include breakpoint($bp-large){
      justify-content: flex-start;
    }
  }
  a.people-card{
    margin:0 0 3rem 3rem;
    border: 4px solid $color-black;
    transition: box-shadow 0.5s ease;
    box-shadow: 13px 13px #d7d7d7;
    flex: 0 0 calc(90%/1);
    text-decoration: none;
    color: $color-black;
    @include breakpoint($bp-large){
      flex: 0 0 calc(90%/2);
    }
    @include breakpoint($bp-xl){
       flex: 0 0 calc(calc(90%/3) - 15px);
    }
    &:hover{
      transition: box-shadow 0.5s ease;
      box-shadow: 13px 13px $color-yellow;
      h3{
      text-decoration: none;
      }
    }
    @supports(display: flex){
      display: flex;
      @include breakpoint($bp-large){
        height: 223px;
      }
    }
  }
  .box-left{
    border-right: 4px solid $color-black;
    width: 100px;
    @include breakpoint($bp-large){
      width: auto;
    }
    .thumbnail-container{
      position: relative;
      overflow: hidden;
      height: auto;
      @include breakpoint($bp-large){
        height: auto;
        height: 140px;
      }
      img{
        @include block-fit-cover(0);
        position: static;
        width: 100px;
        @include breakpoint($bp-large){
          position: static;
          position: absolute;
          width: auto;
        }
      }
    }
  }
  .slashes-container{
    border-top: 4px solid $color-black;
    overflow: hidden;
    .slashes-container{
      @include breakpoint($bp-xsmall){
        height: 130px;
      }
      @include breakpoint($bp-small){
        height: 70px;
      }
    }
    @include breakpoint($bp-large){
      height: auto;
    }
    svg{
    margin-top: -0.2em;
    }
  }
  .box-right{
    padding: 1em;
    @include breakpoint($bp-large){
      padding-bottom: 0;
    }
    .body{
      line-height: 1.5;
      h3{
        font-size: 18px;
      }
      p{
        font-size: 15px;
        margin-bottom: 0.6em;
      }
    }
  }
}

a.people-card{
  &:hover{
    transition: color 0.5s ease;
    h3{
      color: #4a90e2;
      transition: color 0.5s ease;
      text-decoration: underline;
    }
  }
}
