.paper-section{
  .mobile-titles{
    h6{
      padding-left: 2.5em;
      font-size: 18px;
      @include breakpoint($bp-large){
        display: none;
      }
    }
    .paper-title{
      padding-top: 2em;
      @include breakpoint($bp-large){
        padding-top: 0;
      }
    }
    .paper-author{
      padding-top: 2em;
      @include breakpoint($bp-large){
        padding-top: 0;
      }
      h6{
        position: relative;
        &:after{
        content: url(../svg/icons/pen-icon.svg);
        position: absolute;
        left: 0;
        }
      }
      ul{
        margin-bottom: 0;
      }
    }
    .paper-read{
      padding-top: 2em;
      padding-right: 0;
      margin-bottom: -.5em;
      @include breakpoint($bp-large){
        padding-top: 0;

      }
      h6{
        position: relative;
        margin-bottom: 0em;
        margin-top: 1em;
        &:after{
        content: url(../svg/icons/download-icon.svg);
        position: absolute;
        left: 0;
        }
      }
    }
    .paper-notes{
      padding-top: 2em;
      @include breakpoint($bp-large){
        padding-top: 0;
      }
      h6{
        position: relative;
        &:after{
        content: url(../svg/icons/notes-icon.svg);
        position: absolute;
        left: 0;
        }
      }
      a{

      }
    }
  }
  header{
    @include breakpoint($bp-large){
      margin-top: 0;
    }
    h2{
      font-size: 2em;
      margin-bottom: 0;
      @include breakpoint($bp-xl){
        font-size: 3em;
        margin-bottom: 0 !important;
      }
    }
  }


  .paper-header{
    display: none;
    @include breakpoint($bp-large){
      @supports ( display: flex ){
        display: flex;
        justify-content: space-between;
      }
    }
    padding-bottom: 1em;
    h6{
        font-size: 18px;
      padding-left: 2.5em;
      text-transform: uppercase;
      font-weight: 500;
      font-family: $font-heading;
      color: #3F3848;
      position: relative;
    }
    .paper-id{
      @supports(display: flex){
        display: flex;
      }
      h6{
        font-size: 18px;
        &:after{
          content: url(../svg/icons/magnifying-glass.svg);
          width: 24px;
          height: 20px;
          position: absolute;
          left: 0;
        }
      }
    }
    .paper-title{
    h6{
      &:after{
        content: url(../svg/icons/title-icon.svg);
        width: 24px;
        height: 20px;
        position: absolute;
        left: 0;
        top: -2px;
      }
    }
    }
    .paper-authors{
      h6{
        &:after{
          content: url(../svg/icons/pen-icon.svg);
          width: 24px;
          height: 20px;
          position: absolute;
          left: 0;
        }
      }

    }
    .paper-read{
      margin-bottom: 0em;
      h6{
        font-size: 18px;
        margin-bottom: 0 !important;
        &:after{
          content: url(../svg/icons/download-icon.svg);
          width: 24px;
          height: 20px;
          position: absolute;
          left: 0;
          top: -3px;
          opacity: 0.8;
        }
      }
    }
    .paper-notes{
     h6{
       &:after{
         content: url(../svg/icons/notes-icon.svg);
         width: 24px;
         height: 20px;
         position: absolute;
         left: 0;
         top: -1px;
       }
     }
     a{

     }
    }
    .paper-venue{
     h6{
       &:after{
        content: url(../svg/icons/study-copy.svg);
         width: 40px;
         height: 40px;
         position: absolute;
         left: 0;
         top: -1px;
       }
     }
     a{

     }
    }
  }
}

.paper-section + .paper-section{
  padding-top: 0;
  padding-bottom: 3em;
  @include breakpoint($bp-large){
    padding-top: 0em;
  }
}

.paper-section{
  padding-bottom: 3em;
}

button.accordion{
  position: relative;
  background: transparent;
  border: none;
  @supports ( display: flex ){
    display: flex;
  }
  .paper-id{
    flex: 1;
  }
  .paper-title{
    flex: 2;
    text-align: left;
    font-size: 14px;
    border: 2px solid red;
    h6{
      margin-bottom: 1.2em;
    }
  }
}

.accordion{
  width: 100%;
}
button.accordion span:after, button.accordion.accord-is-open span:after{
  content: url(../svg/icons/accordion-up.svg);
  width: 23px;
  height: 20px;
  top: 15px;
  right: 9px;
  position: absolute;
  color: #76ada9;
  font-weight: 700;
  font-size: 20px;
}
button.accordion span:after {
    content: url(../svg/icons/accordion-down.svg);
    color: #ea7f06;
}

.accord-container, button.accordion.accord-is-open .accord-container {
    max-height: 0;
    overflow: hidden;
}
.accord-left{
  flex: 1;
}
.accord-content{
  flex: 2;
  padding-top: 1.2em;
}
.accord-container{
  @supports(display: flex) {
    display: flex;
    position: relative;
    @include breakpoint($bp-med){
      overflow-y: auto;
    }
  }
}
.paper-desktop{
  display: none;
  @include breakpoint($bp-large){
    display: block;
  }
}

.paper-mobile{
  display: block;
  margin-top: 1em;
  padding-top: 1.1em;
  padding-bottom: 0;
  border-top: 1px solid $color-grey--med;
  @include breakpoint($bp-large){
    display: none;
  }
  .paper-right-col{
    .paper-title{
      flex: 2;
      margin-bottom: -0.2em;
      h6{
        position: relative;
        padding-left: 2.5em;
        font-size: 16px;
        font-family: $font-heading;
        margin-bottom: 1em;
        letter-spacing: 0;
        line-height: 1.6;
        &:after{
          content: url(../svg/icons/title-icon.svg);
          width: 40px;
          height: 40px;
          position: absolute;
          left: 0;
          top: -2px;
        }
        h5{
          text-transform: capitalize;
          font-family: $font-base !important;
          font-weight: 400;
          margin-top: -0.3em !important;
          font-size: 15px;
        }
      }
    }
  }
}

.paper-mobile{
  display: flex;
}

.paper-left-col{
  flex: 0.4;
  font-size: 14px;
  padding-right: 1.5em;
  @include breakpoint($bp-small){
    flex: 0.3;
  }
  .paper-id{
    @supports(display: flex){
      display: flex;
    }
    .id-box{
     margin-right: 1.1em;
    }
  }
  .paper-read{
    flex: 2;
    margin-bottom: 2em;
    padding-right: 0.3em;
    margin-bottom: -.5em;
    position: relative;
    h6{
      font-size: 18px;
      position: relative;
      margin-top: 1.5em;
      padding-left: 2em;
      margin-bottom: 0 !important;
      &:after{
      content: url(../svg/icons/download-icon.svg);
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: -2px;
      }
    }
    a{
      text-decoration: none;
      color: $color-black !important;
    }
  }
}
.paper-right-col{
  position: relative;
  flex: 2;
  h6{
    @include font-size(18);
  }
  h5{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.7em !important;
    margin-bottom: 0;
  }
  button{
    position: absolute;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.accord-content{
    h6{
      font-size: 16px;
      padding-left: 2.5em;
      margin-bottom: 0.8em;
  }
  .paper-author{
    &:not(:first-child){
      padding-top: 0em;
    }
    h6{
      position: relative;
      &:after{
      content: url(../svg/icons/pen-icon.svg);
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
    ul{
      padding-left: 0;
      list-style: none;
    }
  }
  .paper-venue{
    &:not(:first-child){
      padding-top: 1em;
    }
    h6{
      position: relative;
      &:after{
      content: url(../svg/icons/study-copy.svg);
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
    ul{
      padding-left: 0;
      list-style: none;
    }
  }
  .paper-read{
    padding-top: 0em;
   margin-bottom: 0em;
   height: 39px;
    h6{
      position: relative;
      margin-bottom: 0 !important;
      &:after{
        @include breakpoint($bp-large){
          content: url(../svg/icons/download-icon.svg);
          width: 40px;
          height: 40px;
          position: absolute;
          left: 2px;
          top: -6px;
        }
      }
    }
    a{
      margin-right: 0.5em;
    }
    .supersede-download {
    position: absolute;
    &:after{
      left: 5px;
      top: -20px;
      width: 20px;
      }
    }
    .download-icon{
      @include breakpoint($bp-large){
        position: static;
      }
    }
  }
  .paper-notes{
    padding-top: 1em;
    h6{
      position: relative;
      &:after{
        content: url(../svg/icons/notes-icon.svg);
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: -2px;
      }
    }
    a{

    }
  }

}

.id-box{
  width: 20px;
  height: 20px;
  padding: 0.4em 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: $color-black;
  margin-top: 0.1em;
}

.paper-notes{
  p{
    font-size: 14px;
    margin-bottom: 0.4em;
    a{

    }
  }
  a{

    font-size: 14px;

  }
}
.paper-section:last-child {
    padding-bottom: 0;
    @include breakpoint($bp-large){
      padding-bottom: 5em;
    }
}

.paper-author{
  ul{
    margin-bottom: 0;
    li{
      p{
        margin-bottom: 0;
      }
    }
  }
}
.paper-author, .paper-read, .paper-notes{
  ul{
    margin-bottom: 0;
    li{
      p{
        margin-bottom: 0;
      }
    }
  }
}

.paper-section{
  &:last-child{
    .paper-table{
      &:last-child{

      }
    }
  }
}



.paper-desktop{
  .paper-table{
    padding: 1em 0;
    position: relative;
    border-bottom: 1px solid $color-grey--med;
    @include breakpoint($bp-large){
      padding: 1.5em 0;
      @supports ( display: flex ){
        display: flex;
        justify-content: space-between;
      }
    }
    div{
      margin-right: 3em;
      flex: 1;
      @include breakpoint($bp-xl){
        flex: 1.6;
      }
      &:first-child{
        padding-right: 0;
      }
      &:last-child{
        padding-right: 0;
        margin-right: 0;
      }
    }

    .paper-id{
     .id-box{
       float: left;
       margin-right: 1.1em;
     }
      @include font-size(14);
    }
    .paper-title{
      h5{
        @include font-size(18);
        font-weight: 400;
        text-transform: capitalize;
        font-family: $font-base;
        color: $color-black;
        margin: 0;
      }

    }
    .paper-author{
      ul{
        list-style: none;
        padding-left: 0;
        @supports ( display: flex ){
          display: flex;
          flex-wrap: wrap;
        }
        li{
          @include font-size(14);
          margin-top: 0;
          position: relative;
          color: #6E6974;
          &:after{
          }
        }
      }
    }
    .paper-venue{
      ul{
        list-style: none;
        padding-left: 0;
        @supports ( display: flex ){
          display: flex;
          flex-wrap: wrap;
        }
        li{
          @include font-size(14);
          margin-top: 0;
          position: relative;
          color: #6E6974;
          &:after{
            content: "/";
            width: 10px;
            height: 10px;
            position: absolute;
            right: -0.9em;
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    .paper-read{
      @include font-size(14);
      @supports ( display: flex ){
        display: flex;
        flex-direction: row;
        position: relative;
      }
      a.download-icon{
        color: $color-black;
        text-decoration: none;
        margin-bottom: 0.6em;
        position: relative;
        &:after{
          content: url(../svg/icons/pdf-icon.svg);
          position: absolute;
          left: 16px;
          @include breakpoint($bp-large){
            top:0;
          }
        }
      }
    }
  }
}

  .paper-table.paper-header{
    padding: 2em 0;
    position: relative;
    border-bottom: 1px solid $color-grey--med;
    @include breakpoint($bp-large){
      padding: 2.2em 0;
      padding-bottom: 1.5em;
      @supports ( display: flex ){
        display: flex;
        justify-content: space-between;
      }
    }
    div{
      margin-right: 3em;
      flex: 1;
      @include breakpoint($bp-xl){
        flex: 1.6;
      }
      &:first-child{
        padding-right: 0;
      }
      &:last-child{
        padding-right: 0;
        margin-right: 0;
      }
    }

    .paper-id{
      @include font-size(14);
    }
    .paper-title{
     font-size: 14px;

    }
    .paper-author{
      ul{
        list-style: none;
        padding-left: 0;
        @supports ( display: flex ){
          display: flex;
        }
        li{
          @include font-size(14);
          margin-top: 0;
          position: relative;
          color: #6E6974;
          &:after{
            content: "/";
            width: 10px;
            height: 10px;
            position: absolute;
            right: -0.9em;
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    .paper-read{
      @include font-size(14);
      @supports ( display: flex ){
        display: flex;
        flex-direction: column;
      }
      a{
        color: #4a90e2;
        margin-bottom: 0.2em;
      }
    }
  }

.paper-table{
  .paper-title{
    font-size: 14px;
  }
}
.accord-content li{
  font-size: 14px;
}

.paper-notes{
  font-size: 14px;
  margin-right: 0;
}





a.download-icon{
  color: $color-black;
  text-decoration: none;
  margin-bottom: 0.6em;
  position: relative;
  &:after{
    content: url(../svg/icons/pdf-icon.svg);
    position: absolute;
    left: 1px;
    top: -24px;
    @include breakpoint($bp-large){
      top:0;
    }
  }
}
a.supersede-box.supersede-download{
  color: $color-black;
  text-decoration: none;
  margin-bottom: 0.6em;
  position: relative;
  &:after{
    content: url(../svg/icons/up-download.svg);
    position: absolute;
    left: 18px;
    top: -24px;
    width: 20px;
    @include breakpoint($bp-large){
      top:0;
    }
  }
}


// .paper-read, .paper-id {
//     flex: 0.6 !important;
// }

.paper-read, .paper-id {
    flex: 0.4 !important;
}
.paper-read{
  padding-right: 0.5em !important;
}

.paper-author, .paper-venue{
  ul{
    margin-bottom: 0;
    p{
      margin-bottom: 0;
    }
  }
}
.supersede-box{
  @supports(display: flex){
    display: flex;
  }
  a{
    margin-left: 0.3em;
    text-transform: uppercase;
  }
  p{
    display: inline-block;
    margin-left: 0.3em;
    margin-right: -0.1em;
    &:last-child{
      display: none;
    }
  }
}


.paper-left-col{
  a.download-icon{
   &:after{
    left: 0;
   }
  }
}
.paper-id {
    text-transform: uppercase;
    margin-bottom: 0.7em;
    @include breakpoint($bp-large){
      margin-bottom: 0em;
    }
}


.id-box{
    float: left;
      margin-right: 1.1em;
}

// fix for anchor links to accomodate sticky header
.paper-container:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
  @include breakpoint($bp-med) {
    margin-top: -150px;
    height: 150px;
  }
}
.paper-notes a {

}
a.alternative-link{
      position: relative;
      &:after{
        content: url(../svg/icons/alt-link-icon.svg);
        width: 24px;
        height: 24px;
        position: absolute;
        left: 4px;
        top: -23px;
        @include breakpoint($bp-large){
          content: url(../svg/icons/alt-link-icon.svg);
          width: 24px;
          height: 24px;
          position: absolute;
          left: 17px;
          top: 0;
        }
      }
    }

    .paper-table.paper-header{
      .paper-read{
        h6{
          padding-left: 2em;
          margin-left: 0.4em;
        }
      }
    }
    section.section.form-section {
        padding: 2.5em 0 1em;
        padding-bottom: 2em;
        @include breakpoint($bp-large){
          padding-bottom: 0em;
        }
    }

.filter-inner{
  @include breakpoint($bp-med){
    margin-bottom: 0.2em;
  }
  @include breakpoint($bp-large){
    margin-bottom: 3.3em;
  }
  @include breakpoint($bp-xl){
    margin-bottom: 4em;
  }
}
.paper-id{
  display: flex;
}


.paper-author, .paper-venue{
  p{
    font-size: 14px;
  }
}


.paper-desktop{
  .paper-id{
    flex: 0.5 !important;
    display: block !important;
    .id-box{
      margin-right: 0 !important;
    }
  }
  span{
   margin-left: 2.8em;
   display: block;
  }
}
.bio-section h3.horizontal-line {
  border-top: none !important;
  margin-top: 1em !important;
  padding-top: 0 !important;
}
.bio-section .content-row .date {
    font-size: 1.125em;
    font-family: "Staatliches",cursive;
    font-weight: 400;
    @include breakpoint($bp-large){
      margin-bottom: 0.5em !important;
      display: block !important;
    }
}
