.teaching-section{
  h5{
    font-size: 18px;
    font-family: $font-heading;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1em;
    color: $color-black;
    @include breakpoint($bp-med){
      margin-bottom: 0.6em;
    }
  }
  p{
    font-size: 18px;
  }
  .l-grid{
    flex-wrap: nowrap;
    flex-direction: column;
    @include breakpoint($bp-med){
      flex-direction: row;
    }
    .l-grid-item{
      max-height: 415px;
      padding-right: 1.5em;
     @include breakpoint($bp-xl){
       padding-left: 0;
     }
      &:not(:first-child){
        @include breakpoint($bp-med){
          padding-left: 2em;
          border-left: 1px solid $color-grey--med;
        }
        @include breakpoint($bp-large){
          padding-left: 2.5em;
        }
        @include breakpoint($bp-xl){
          padding-left: 3em;
        }
        @include breakpoint($bp-mega){
          padding-left: 4em;
        }
        padding-right: 0.5em;
        @include breakpoint($bp-med){
        }
        @include breakpoint($bp-large){
          max-height: 312px;
          overflow-y: auto;
        }
        @include breakpoint($bp-mega){
          max-height: 415px;
        }
      }
      &:nth-child(2){
        padding-right: 2.5em;
      }
    }
  }
  &:not(:first-child){
    border-top: 2px solid $color-grey--med;
  }

    @include breakpoint($bp-small){

    }
    @include breakpoint($bp-med){
    }
    @include breakpoint($bp-xl){

    }
    h3{
      font-size: 2em;
      margin-bottom: 0;
      @include breakpoint($bp-small){
        padding-top: 0em;
      }
      @include breakpoint($bp-mega){
        font-size: 3em;
      }
    }
  .date-name-item{
    p {
      font-size: 16px;
      font-family: $font-base;
    }
    h5{
      @include font-size(18);
      margin-bottom: 0.4em;
      a{
        margin-bottom: 0;
          font-size: 16px;
          font-weight: 600;
          font-family: "Roboto Slab",serif;
          @include breakpoint($bp-large){
            font-family: "Staatliches",cursive !important;
            font-weight: 400 !important;
            font-size: 18px;
        }
      }
    }
  }
}
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
.date-name-item{
  a{
    display: inline-block;
    margin-bottom: 1em;
  }
}

.details-info{
  ul{
    list-style: none;
    padding-left: 2.5em;
    li{
    position: relative;
    margin-bottom: 1em;
      &:after{
        position: absolute;
        content: url(../svg/icons/down-icon.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        overflow: hidden;
        left: -37px;
        top: 5px;
        transform: rotate(30deg);
      }
    }
  }
}


.teaching-grid{
  @include breakpoint($bp-large){
    @supports( display: flex ){
      display: flex;
      justify-content: space-between;
    }
  }
  .teaching-item{
    &:nth-child(1){
      padding-bottom: 1em;
      @include breakpoint($bp-med){
        flex: 1;
      }
      @include breakpoint($bp-med-teaching){
        padding-bottom: 2em;
      }
    }
    &:nth-child(2){
      width: 90%;
      margin: auto;
      @include breakpoint($bp-med-teaching){
        flex: 1;
      }
      @include breakpoint($bp-large){
        margin-top: 0;
        padding-left: 4em;
        border-right: 2px solid #D7D4DA;
        max-height: 312px;
        overflow-y: auto;
        padding-right: 2.5em;
      }
      @include breakpoint($bp-xl){
        padding-left: 4.4em;
        padding-right: 3em;
        flex: 1;
      }
      @include breakpoint($bp-mega){
        max-height: 415px;
      }
    }
  }
  .teaching-item-last{
    max-height: 415px;
    padding-top: 1em;
    width: 90%;
    margin: auto;
    @include breakpoint($bp-med-teaching){
    padding-top: 0em;
    }
    @include breakpoint($bp-large){
      max-height: 312px;
      padding-left: 4em;
      overflow-y: auto;
      flex: 0.5;
      width: 0;
      margin: 0;
      > h5{
        display: none;
      }
    }
    @include breakpoint($bp-xl){
    padding-left: 4.4em;
    }
    @include breakpoint($bp-mega){
      max-height: 415px;
    }
  }
}

.teaching-item{
  .id-box{
    background: #bf92fb;
    width: 118px;
    padding: .4em 0em;
    text-align: center;
    border: 4px solid #3f3848;
    font-family: "Staatliches",cursive;
    text-transform: uppercase;
    font-size: 18px;
    color: $color-black;
    -webkit-box-shadow: 7px 7px #d7d4da;
    box-shadow: 7px 7px #d7d4da;
    text-align: center;
    position: relative;
    margin-left: 2.4em;
    margin-top: 0.5em;
    &:after{
      content: "//";
      position: absolute;
      width: 50px;
      color: $color-black;
      font-weight: 300 !important;
      font-family: $font-base;
      left: -56px;
      top: -27px;
      font-size: 3em;
    }
    h4{
      color: white;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}


.teaching-card{
      margin-bottom: 1.5em;
      @include breakpoint($bp-large){
        margin-bottom: 0;
      }
  a{
    border: 4px solid $color-black;
    box-shadow: 13px 13px #d7d7d7;
    transition: box-shadow 0.5s ease;
    max-height: 410px;
    min-height: 180px;
    min-width: 300px;
    height: 300px;
    width: 90%;
    margin: auto;
    @include breakpoint($bp-large){
        max-width: 410px;
    }
    @include breakpoint($bp-mega){
      height: 410px;
      width: auto;
    }
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .teaching-card-header{
      padding: 0 1.5em;
      background-color: white;
      height: 100%;
      @supports(display: flex){
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          margin: auto;
        }
      }
    }
    .teaching-card-footer{
      border-top: 4px solid $color-black;
      overflow: hidden;
      height: 110px;
      @supports(display: flex){
        display: flex;
      }
      .card-item{
        flex: 1;
        @supports(display: flex){
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .card-item{
        &:first-child{
          background-color: $color-yellow;
          border-right: 4px solid $color-black;
          h4{
            text-align: center;
            margin-bottom: 0;
            color: #3f3848 !important;
            font-size: 32px;
            @include breakpoint($bp-mega){
              font-size: 48px;
            }
          }
        }
        &:last-child{
          background-color: white;
          background-image: url(../svg/icons/teaching-card-lines.svg);
        }
      }
    }
  }
}
.teaching-card{
  transition: box-shadow 0.5s ease;
  &:hover{
    transition: box-shadow 0.5s ease;
    text-decoration: none;
    a{
      transition: box-shadow 0.5s ease;
      box-shadow: 13px 13px #bf92fb;
      text-decoration: none;
    }
  }
}
