
.button,
input[type="submit"] {
  @include button( $button-color );
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  color: $button-color;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: lowercase;
  position: relative;
  color: #4a90e2;
  font-family: $font-base;
  &:after{
    content: url(../svg/icons/blue-arrow.svg);
    width: 15px;
    height: 8px;
    margin-left: 0.5em;
  }
  &:hover,
  &:focus {
    border-bottom-color: #4a90e2;
    color: #4a90e2;
    &:after{
      content: url(../svg/icons/blue-arrow.svg);
    }
  }
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
