
/**
 * Block Bkg Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: $bkg-light-grey;
}

.color-option-3 {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
}

.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bold-purple{
  @include font-size(18);
  color: $color-purple;
  font-weight: 500;

}
.bold-yellow{
  @include font-size(18);
  color: $color-yellow;
  font-weight: 500;
}
.bold-teal{
  @include font-size(18);
  color: $color-teal;
  font-weight: 500;
}
.bold-black{
  @include font-size(18);
  color: $color-black;
  font-weight: 500;
}
