
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.5em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 400;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  @include font-size(30);
  color: $color-black;
  @include breakpoint($bp-large) {
    @include font-size(35);
  }
}

h2, .h2 {
  color: $color-black;
  @include font-size(21);

  @include breakpoint($bp-large) {
    @include font-size(27);
  }
}

h3, .h3 {
  @include font-size(48);
  letter-spacing: 1px;
  color: $color-black;
}

h4, .h4 {
  @include font-size(19);
  letter-spacing: 1px;
}

h5, .h5 {
  @include font-size(18);
  letter-spacing: 0.1em;
  letter-spacing: 1px;
}

h6, .h6 {
  @include font-size(27);
  letter-spacing: 1px;
}
