
p {
  margin: 0;
  margin-bottom: 1em;
  color: $text-color;
}

hr {
  margin: 2.5em 0;
  margin-bottom: 3em;
  border: 0 none;
  width: 100%;
  height: 1px;
  background-color: $color-black;
}
.horizontal_line{
  border-bottom: 1px solid $color-black;
  margin-bottom: 3.5em;
  padding-bottom: 2em;
}
.horizontal_line_off{
  border-bottom: none;
}

address {
  font-style: normal;
}

blockquote {
  border-radius: 8px;
  margin: 1em 0;
  padding: 2em;

  p {
    margin: 0;
    font-size: 1.25em;
    font-style: italic;

    + p {
      margin-top: 1em;
    }
  }
}

cite {
  display: block;
  margin-top: .5em;
  font-size: .8em;
  line-height: 1.2;
  font-style: normal;

  &::before {
    content: '\2013\2002';
  }

  a {
    color: inherit;
    color: #4a90e2;
    text-decoration: none;
    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}



/**
 * Inline Els
 */

a {
  text-decoration: none;
  transition: color 500ms;
  color: #4a90e2;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a[href^="tel"],
a[href^="mailto"] {

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

small {
  font-size: 80%;
}
