
.banner{
  .wrap{
    padding: 0 1em;
    @include breakpoint($bp-xl){
      padding: 1.5em;
    }
  }
}

.banner {
  position: relative;
  padding: 3.5375em 0;
  width: 100%;
  background-color: #73c8ff;
  // background-color: #4A90E2;
  overflow: hidden;
  z-index: 1;
  @include breakpoint($bp-med){
    padding-top: 9.5em;
    padding-bottom: 5em;
  }
  @include breakpoint($bp-large){
    padding: 7.9375em 0;
    padding-top: 11.5em;
    padding-bottom: 5em;
  }
  @include breakpoint($bp-mega){
    padding: 9.9375em 0;
    padding-top: 14.5em;
    padding-bottom: 6em;
  }
  .wrap{
   position: relative;
  }
}

.banner-title{
  text-align: center;
  position: relative;
  &:before{
    content: "";
    background-image: url(../svg/icons/banner-slashes.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    bottom: 0;
    height: 28px;
    @include breakpoint($bp-med){
      top: 1.2em;
      height: 50px;
    }
    @include breakpoint($bp-large){
      top: 2em;
    }
  }
  .h1 {
    display: inline-block;
    position: relative;
    background: white;
    padding: 0.2em 0.5em;
    min-width: 300px;
    border: 4px solid $color-black;
    color: $color-black;
    box-shadow: 12px 12px rgba(0,0,0,.17);
    @include font-size(40);
    @include breakpoint($bp-small){
    }
    @include breakpoint($bp-med){
      @include font-size(50);
    }
    @include breakpoint($bp-large){
      @include font-size(54);
    }
    @include breakpoint($bp-xl){
      @include font-size(60);
    }
    @include breakpoint($bp-mega){
      @include font-size(64);
    }
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}
