
/**
 * Template Layout - Full Width Col
 */

.fullwidth-layout {
  &.background-image {
    padding: 6em 0;

    @include breakpoint($bp-med) {
      padding: 10em 0;
    }

    p {
      margin: 0;

      + p {
        margin-top: 1em;
      }
    }
  }
}

.advanced-full-width {
  position: relative;
  overflow: hidden;

  .l-aside-col {
    display: none;

    @include breakpoint($bp-med) {
      display: block;
    }
  }

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.fullwidth-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: .3;
}
