
.hero {
  position: relative;
  overflow: hidden;
  margin-top: 4.2em;
  overflow: visible;
  padding-bottom: 7em;
  @supports(display: flex){
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($bp-med){
    padding-bottom: 0em;
    height: 52.4375em;
    height: 145vh;
    min-height: 38em;
    max-height: 50.4375em;
    height: 135vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 36em;
  }
  @include breakpoint($bp-large){
    max-height: 40em;
    height: 100vh;
  }
  @include breakpoint($bp-xl){
    max-height: 43em;
    margin-top: 1em;
  }
  @include breakpoint($bp-mega){
    max-height: 50em;
    margin-top: 1.5em;
  }
}

.hero-bkg-image {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}



.hero-content {
    @supports( display: flex ) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1.5em;
      @include breakpoint($bp-small){
        padding-left: 1em;
      }
      @include breakpoint($bp-med){
        margin-bottom: 0;
        padding-right: 3em;
      }
      @include breakpoint($bp-large){
        padding-right: 5.5em;
      }
      @include breakpoint($bp-xl-xl){
        padding-left: 0;
      }
    }
  h1 {
    font-size: 2.6em;
    margin-bottom: 0.2em;
    text-align: center;
    @include breakpoint($bp-small){
      font-size: 3em;
    }
    @include breakpoint($bp-med){
      font-size: 3.2em;
      text-align: left;
    }
    @include breakpoint($bp-large) {
      font-size: 3.3em;
      color: #3F3848;
    }
    @include breakpoint($bp-xl) {
      font-size: 3.5em;
      color: #3F3848;
    }
    @include breakpoint($bp-mega) {
      font-size: 4em;
    }
  }
  h6{
    color: #7633CF;
    font-size: 1.3em;
    margin-bottom: 0.7em;
    text-align: center;
    @include breakpoint($bp-med){
      text-align: left;
    }
  }
  p {
    font-size: 1em;
    @include breakpoint($bp-xl){
      font-size: 1em;
    }
    @include breakpoint($bp-mega){
      font-size: 1.125em;
    }
  }

  .button {

  }
  .hero-icons{
    padding-top: 3em;
    border-top: 2px solid #D7D4DA;
    @supports( display: flex ) {
      display: flex;
      justify-content: space-between;
    }
    .icon-row{
      width: 30%;
      &:last-child{
        padding-right: 0;
      }
      img{
        margin-bottom: 1.5em;
      }
      p{
        @include font-size(14);
      }
      h6{
        @include font-size(18);
        color: $color-dark-purple;
      }
    }
  }
}

.photo-content{
  @include breakpoint($bp-mega){
    width: 650px;
    height: 500px;
    position: relative;
  }
}



//



.photo-box {
  position: relative;
  width: 296px;
  height: 296px;
  margin-right: 2em;
  @include breakpoint($bp-large) {
    width: 396px;
    height: 396px;
  }
  @include breakpoint($bp-xl) {
    width: 446px;
    height: 446px;
  }
  @include breakpoint($bp-mega) {
    width: 496px;
    height: 496px;
    position: relative;
    &:after{
      content: "";
      width: 496px;
      height: 496px;
      border: 4px solid black;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
    }
  }
  overflow: hidden;
  z-index: 10;

  img {
    position: relative;
    z-index: 10;
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    @include block-fit-cover(0);
    @include breakpoint($bp-large){
      @include block-fit-cover(0);
    }
    @include breakpoint($bp-xl){
      @include block-fit-cover(0);
    }
  }





}

.photo-box-container{
  position: relative;
  width: 296px;
  height: 296px;
    margin: auto;
    margin-right: 3.3em;
    @include breakpoint($bp-small-ariel){
      margin: auto;
    }
    @include breakpoint($bp-med){
      margin-right: 3.3em;

    }
  @include breakpoint($bp-large) {
    width: 396px;
    height: 396px;
    margin-right: 58px;
  }
  @include breakpoint($bp-xl) {
    width: 446px;
    height: 446px;
    margin-right: 58px;
  }
  @include breakpoint($bp-mega) {
    width: 496px;
    height: 496px;
    margin-right: 58px;
  }
  &:after {
    z-index: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: white;
    transition: transform 0.5s ease;
    transform: translateY(30px) translateX(30px);
    border: 4px solid $color-black;
  }
  @include breakpoint($bp-mega){

  }

  .inner-box {
    z-index: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  transition: transform 0.5s ease;
    background: #D7D4DA;
    transform: translateY(60px) translateX(60px);
  }
}


.photo-box-container{
  &:hover{
    .inner-box{
    }
  }
  &:hover:after{
  }
}
