
/**
 * Template Layout - Parallax
 */

.photo-block-layout {
  position: relative;
  height: 20em;
  background-color: $bkg-med-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.photo-block-layout--parallax {
  background-attachment: fixed;
}
