
/**
 * Tiny Slider
 */

.tns-outer {
  position: relative;
}

.tns-controls {
  [aria-controls] {
    @include button-reset();
    position: absolute;
    z-index: 10;
  }

  [data-controls="prev"] {
    left: 0;
  }

  [data-controls="next"] {
    right: 0;
  }
}

.tns-nav {
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 10;

  > [aria-controls] {
    padding: 0;
    margin: 0 9px;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba( #fff, 0.6 );

    &.tns-nav-active {
      background-color: $link-color;
    }
  }
}


/**
 * Image Slideshow Example
 */

.image-slideshow {

  // Only display the first slide when js is disabled
  .no-js & {
    .image-slide {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

.image-slide {
  img {
    display: block;
    margin: 0 auto;
  }
}

.box-body{
  position: relative;
}
a.trickery-link{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 194px;
}
