
/**
 * Entry Content
 */

.entry-content,
.page-content {
  
  // Add line below headings
  h1 {
    // position: relative;
    // margin-bottom: 1em;
    // padding-bottom: 1em;

    // &::after {
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 37px;
    //   height: 2px;
    //   background-color: $heading-line;
    //   content: ' ';
    // }
  }

  // Custom list bullets
  ul {
    list-style: none;

    li {
      position: relative;

      + li {
        margin-top: .15em;
      }

      &::before {
        position: absolute;
        left: -1em;
        top: .625em;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $ul-bullet-color;
        content: '';
      }
    }
  }
}


/**
 * Text Size / Heading Alts
 */

.p-lead {
  color: $heading-color;
  font-size: 1.25em;
}

.text--large {
  font-size: 1.0625em;
}

.text--small {
  font-size: .75em;
}


/**
 * Image Alignment
 */

.alignnone {
  display: block;
  margin: 1em 0;
}

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}
