
/**
 * Template Layout - Parallax
 */

.photo-block-layout {
  position: relative;
  height: 20em;
  background-color: $bkg-med-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.photo-block-layout--parallax {
  background-attachment: fixed;
}


.filter-item-grid{
  @include breakpoint($bp-med){
    @supports(display: flex){
      display: flex;
    }
  }
}

.form-section{
  padding: 1em 0.5em;
}

.filter-header{

}
.filter-footer{
  .button{
    background-color: white;
    border: 4px solid $color-black;
    box-shadow: 5px 5px #d7d4da;
    transition: box-shadow 0.5s ease;
    color: $color-black;
    font-family: $font-heading;
    font-weight: 500;
    font-size: 20px;
    padding: 0.6em 1.3em;
    &:hover{
      transition: box-shadow 0.5s ease;
      box-shadow: 5px 5px $color-yellow;
    }
  }
}
section.section.form-section {
    padding: 2.5em 0;
    padding-bottom: 1em;
    @include breakpoint($bp-med){
      padding: 5em 0;
      padding-bottom: 3em;
    }
}

.form-section + .paper-section{
  padding-top: 0;
  @include breakpoint($bp-med){
    padding-top: 0;
  }
}


.filter-body{
  @include breakpoint($bp-med){
    @supports(display: flex){
      display: flex;
      justify-content: center;
    }
  }
}

.filter-item{
  label{
    @include visuallyhidden();
  }
}

.select{
  position: relative;
}
select#publication_type, select#publication_year{
  border-radius: 0;
  border: none;
  background-color: #e9e9e9;
  appearannce: none;
  -webkit-appearance: none;
  padding: 1.3em;
  margin-right: 0.5em;
  width: 100%;
  margin-bottom: 1em;
  @include breakpoint($bp-med){
    margin-bottom: 0;
    width: 200px;
  }
}

.select-arrow {
    position: absolute;
    top: 21px;
    right: 23px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
