
/**
 * Footer Layout
 */

.l-footer {
  @include clearfix;
  margin-left: -0.5em;
}
@supports ( display: flex ) {
  .l-footer {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-footer-item {
  padding-left: 0.5em;
  width: 100%;

  @include breakpoint($bp-med) {
    float: left;
  }

  .l-footer--2-cols & {
    @include breakpoint($bp-med) {
      width: 50%;
    }
  }

  .l-footer--3-cols & {
    @include breakpoint($bp-med) {
      width: 33.33%;
    }
  }
  .l-footer--4-cols & {
    @include breakpoint($bp-med) {
      width: 25%;
    }
  }
  .l-footer--5-cols & {
    @include breakpoint($bp-update-med) {
      width: 20%;
    }
  }

  + .l-footer-item {
    margin-top: 0.5em;

    @include breakpoint($bp-med) {
      margin-top: 0;
    }
  }
}

.l-footer--gap-large {
  .l-footer-item {
    + .l-footer-item {
      margin-top: 4em;

      @include breakpoint($bp-update-med) {
        margin-top: 0;
      }
    }
  }
}

.l-footer--align-center {
  @include breakpoint($bp-med) {
    align-items: center;
  }
}


/**
 * Column Positioning
 */

// Pull item to the right
.l-footer-item.l-footer-item--pull-right {
  @include breakpoint($bp-med) {
    float: right;
    margin-left: auto;
    width: auto;
  }
}

// Pull item to the left
.l-footer-item.l-footer-item--pull-left {
  @include breakpoint($bp-med) {
    float: left;
    margin-right: auto;
    width: auto;
  }
}
