
/**
 * Sidebar Navigation
 */

.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;
  }

  a {
    display: block;
    border-bottom: 1px solid #fff;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    background: $button-color;
    transition: background-color 500ms, color 500ms;

    &:hover,
    &:focus {
      background: $button-color--hover;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      background: $button-color--hover;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
