
/**
 * Social Navigation
 */

.navigation--social {
  text-align: center;
  align-items: center;
  position: relative;
  padding-top: 2em;
  &:after{
    position: absolute;
    top: 0;
    content: url(../svg/icons/down-icon.svg);
    width: 68px;
    height: 15px;
  }
  @supports ( display: flex ) {
    display: flex;
  }
  @include breakpoint($bp-med) {
    text-align: left;
  }
  @include breakpoint($bp-large){
    padding-top: 3.5em;
  }

  h5 {
    @include font-size(15);
    margin: 0;
    margin-right: 1.5em;
    font-family: $font-base;
    color: #A49FAB;
    @include breakpoint($bp-large){
      @include font-size(16);
    }
  }

  ul {
    @include list-reset();
    text-align: center;
  }

  li {
    @include nav-item-reset();

    + li {
      margin-left: 1em;
    }
  }

  a {
    display: block;
    color: $color-teal;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      color: $color-purple;
      opacity: 0.75;
    }
  }

  svg {
    display: block;
    width: 22px;
    @include breakpoint($bp-med){
      width: 40px;
    }
    @include breakpoint($bp-large){
      width: auto;
    }
  }

}
