
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;

  li {
    position: relative;
    transition: 0.5s;
  }

  a {
    display: block;
    color: $main-nav-color;
    font-family: $font-heading;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    padding: 0.6em 1.375em;
    @include breakpoint($bp-med){
      padding: 2em 2em;
    }
    @include breakpoint($bp-xl){
      padding: 2em 3em;
    }
    &:hover{
      &:after{
      }
    }
    @include breakpoint($bp-large) {
      font-size: 1.15em;
      padding: 1.9em 2.4em;
    }

    @include breakpoint($bp-xl) {
      font-size: 1.15em;
      padding: 1.5em 2.4em;
    }
    @include breakpoint($bp-mega) {
      font-size: 1.25em;
      padding: 2em 3em;
    }

    &:hover,
    &:focus {
      color: $main-nav-color--hover;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        margin-left: 0;
        border-left: 1px solid #D8D8D8;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $main-nav-color--active;
      &:after{
        content: "";
        transition: 0.5s;
        left: 0;
        right: 0;
        bottom: 1em;
        position: absolute;
        width: 35px;
        height: 8px;
        margin: auto;
        text-align: center;
        background: $color-teal;
      }
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: white;
    box-shadow: 12px 10px $color-grey--med;
    transition: opacity 100ms linear;
    border: 1px solid $color-black;

    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-top: 1px solid darken($bkg-med-grey, 15%);
      }
    }

    a {
      padding: 1em 0;
      color: $color-black;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $main-nav-color--hover;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $main-nav-color--hover;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}







.navigation--main{
  li {
  	display: inline-block;
  	position: relative;
  }
  li:after {
  	content: '';
  	display: block;
  	margin: auto;
  	height: 8px;
  	width: 0px;
    position: absolute;
    left: 0;
    right: 0;
  	background: transparent;
  	transition: width .5s ease, background-color .5s ease;
    @include breakpoint($bp-large) {
      height: 6px;
      bottom: 15px;
    }
    @include breakpoint($bp-mega) {
      height: 8px;
      bottom: 20px;
    }

  }
  li:hover:after {
  	width: 50px;
  	background: #3366FF;
  }

  // First Item
  li:nth-of-type(5n - 9) {
    &:hover::after {
      background: #f5708f;
    }
  }

  // Second Item
  li:nth-of-type(5n - 8) {
    &:hover::after {
      background: $color-teal;
    }
  }

  // Third Item
  li:nth-of-type(5n - 7) {
    &:hover::after {
      background: $color-yellow;
    }
  }
  // Third Item
  li:nth-of-type(5n - 6) {
    &:hover::after {
      background: #bf92fb;
    }
  }
  li:nth-of-type(5n - 5) {
    &:hover::after {
      background: #73c8ff;
    }
  }
}





.current-menu-item,
.current-menu-ancestor {
  &:nth-child(1){
    > a {
      color: $main-nav-color--active;
      &:after{
        content: "";
        transition: background-color 0.5s ease;
        left: 0;
        right: 0;
        position: absolute;
        width: 35px;
        margin: auto;
        text-align: center;
        background-color: #f5708f;
        @include breakpoint($bp-large) {
          height: 6px;
          bottom: 15px;
        }
        @include breakpoint($bp-mega) {
          bottom: 1em;
          height: 8px;
        }
      }
    }
  }
  &:nth-child(2){
    > a {
      color: $main-nav-color--active;
      &:after{
        content: "";
        transition: background-color 0.5s ease;
        left: 0;
        right: 0;
        position: absolute;
        width: 35px;
        margin: auto;
        text-align: center;
        background-color: $color-teal;
        @include breakpoint($bp-large) {
          height: 6px;
          bottom: 15px;
        }
        @include breakpoint($bp-mega) {
          bottom: 1em;
          height: 8px;
        }
      }
    }
  }
  &:nth-child(3){
    > a {
      color: $main-nav-color--active;
      &:after{
        content: "";
        transition: background-color 0.5s ease;
        left: 0;
        right: 0;
        position: absolute;
        width: 35px;
        margin: auto;
        text-align: center;
        background-color: $color-yellow;
        @include breakpoint($bp-large) {
          height: 6px;
          bottom: 15px;
        }
        @include breakpoint($bp-mega) {
          bottom: 1em;
          height: 8px;
        }
      }
    }
  }
  &:nth-child(4){
    > a {
      color: $main-nav-color--active;
      &:after{
        content: "";
        transition: background-color 0.5s ease;
        left: 0;
        right: 0;
        position: absolute;
        width: 35px;
        margin: auto;
        text-align: center;
        background-color: #bf92fb;
        @include breakpoint($bp-large) {
          height: 6px;
          bottom: 15px;
        }
        @include breakpoint($bp-mega) {
          bottom: 1em;
          height: 8px;
        }
      }
    }
  }
  &:nth-child(5){
    > a {
      color: $main-nav-color--active;
      &:after{
        content: "";
        transition: background-color 0.5s ease;
        left: 0;
        right: 0;
        position: absolute;
        width: 35px;
        margin: auto;
        text-align: center;
        background-color: #73c8ff;
        @include breakpoint($bp-large) {
          height: 6px;
          bottom: 15px;
        }
        @include breakpoint($bp-mega) {
          bottom: 1em;
          height: 8px;
        }
      }
    }
  }
}

.recent-talks{
  li + li{
    margin-top: 0;
  }
}
