
/**
 * Utility Navigation
 */

.navigation--utility {
  margin-bottom: 0.5em;
  text-align: right;

  li {
    + li {
      padding-left: 0.75em;
      border-left: 1px solid $border-color;
    }
  }

  a {
    display: block;
    margin: -5px 0;
    padding: 0.5em 0.15em;
    color: $utility-nav-color;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }

  .sub-menu {
    display: none;
  }
}
