//
//  Breakpoint
//  http://breakpoint-sass.com
//-------------------------------------------------------

@include breakpoint-set('to ems', true);
@include breakpoint-set('no query fallbacks', false);
@include breakpoint-set('default media', screen);

// Widths
$bp-xsmall: 20em;   // 320px
$bp-small:  25em;   // 480px
$bp-small-ariel:  490px;  // 490px
$bp-small-med: 40.625em;  // 650px
$bp-med:    47.5em; // 760px
$bp-med-teaching:    870px; // 760px
$bp-med-med: 53.75em; // 860px
$bp-med-med-med-med: 65em; // 1040
$bp-med-med-med: 68.125em; // 1090
$bp-large-med:  71.875em;   // 960px
$bp-large:  60em;   // 960px
$bp-xl:     75em;   // 1200px
$bp-xl-xl:   77.5em;   // 1240px
$bp-mega:   90em;   // 1440px
$bp-mega-med: 106.25em; // 1700px
$bp-mega-mega:   134.375em;   // 2150px
$bp-update-med: 960px;

// Heights
$bp-height-med: min-height 35.625em; // 570px

// Med width & tall screen - Used for sticky header
$bp-med--tall: ($bp-height-med) ($bp-med);
